[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
flask-shell-ipython = "*"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
waitress = "*"
webauthn = "*"
psycopg2 = "*"
flask-praetorian = "*"
flask-marshmallow = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
